            <div data-role="header">
                  <h1>Template TourneyCard</h1>
            </div><!-- /header -->

            <div data-role="content">
                  <h1>Template Tourneycard</h1>
                  <p>
                    <label for="username">Username:</label>
                    <input name="username" id="username"
                    class="ui-input-text ui-body-null ui-corner-all ui-shadow-inset ui-body-c exampled"
                    type="text" title="Username:..."
                    value="">
              </p>

              <p>
                    <label for="password">Password:</label>
                    <input name="password" id="password"
                    class="password ui-input-text ui-body-null ui-corner-all ui-shadow-inset ui-body-c exampled"
                    type="password" title="Password:..."
                    value="">
              </p>

              <input type="submit" name="login" elementId="loginButton" class="ui-btn ui-btn-corner-all ui-shadow ui-btn-up-c" data-theme="c" value="Log in" id="login" />
